<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Taskboard/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /Taskboard/index.html [L]
</IfModule>
